body {
    background-color: #1e1e2e;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #cdd6f4;
}

body {
    color: #cdd6f4;
}


a {
  color: #cdd6f4;
}

a:link {
  color: #89b4fa;
}


a:visited {
  color: #a6e3a1;
}


a:hover {
  color: #74c7ec;
}


a:active {
  color: #a6e3a1;
}

body {
    overflow: auto;
resize: both;
}

body { 
    cursor: pointer;
}

body {
    text-shadow: 8px 5px 3px #404040, 5px 5px 10px #000000;
}
